

@font-face {
  font-family: 'Raleway';
  src:  url('res/Raleway.woff2') format('woff2');
}

body {
    background-color: white;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}
#goban {
    padding-top: 1px;
    padding-bottom: 1px;
}
#goban img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about_box {
    z-index: 3;
    display: none;
    width: 90%;
    position: absolute;
    left: 0%;
    margin-left: 3%;
    top: 5%;
    background-color: white;
    border: 2px solid black;
    padding: 2%;
}

#menu {
    display: none;
    font-family: 'Arial';
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-size: 50px;
    z-index: 2;
    color: white;
}

#sidebar {
    background-color: rgb(51, 85, 105);
}

#sidebar img {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.sb-menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sb-menu li {
	width: 100%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sb-menu > li:first-child {
	border-top: none;
}

.sb-menu > li:last-child {
	border-bottom: none;
}

.sb-menu li a {
	width: 100%; /* Makes links full width. */
	display: inline-block;
	padding: 1em; /* Creates an even padding the same size as your font. */
	color: #f2f2f2;
    cursor: pointer;
}

.sb-menu li a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

#menu-title {
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: rgb(51, 85, 105);
    background-color: white;
}

#clock_face, #stone_speed, #change_background, #stone_sound{
    color: rgb(247, 255, 201);
}
